html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
background: black;
    background-repeat: no-repeat; 
    background-attachment: fixed;      
    min-height: 100vh;
}

header{
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.aba1:hover {
    color: purple;
} 
.aba1 { 
    color: black;
    text-align: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.66vw;
}
.aba2:hover {
    color: purple;
}
.aba2 {
    text-align: center;
    color:black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.66vw;

}
#titulo { 
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin-top: 140px  ;
    margin-left: 5px ;
}
#texto { 
    width: 45vw;
    height: 60vw;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    margin-left: 09px;
    font-size: 1.33vw;
}
#superior {
    background-color: #dadf57;
    background-size: center ;
    height: 5vw;
    width: 100vw ;  
    border: 10vw;
    justify-self: center;
    opacity: 70%;
    box-shadow: 0 0 2em #f7ff02;
}
