html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #0f0141, #1a237e);
    color: #e1e1e1;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-color: #0074f8;
    box-shadow: 0 4px 12px rgba(0, 116, 248, 0.6);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #0f0141, #1a237e);
    color: #0a0808;
}


h1 {
    text-align: center;
    margin-bottom: 30px;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.12);
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.card h2 {
    margin-top: 0;
}

p {
    margin: 6px 0;
}

.atualizado {
    font-size: 13px;
    color: #555;
    margin-top: 10px;
}

.erro {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}
#superior {
    height:3vw;
    margin-left: -1vw;
    background-color: #0074f8;
    box-shadow: 0 4px 12px rgba(0, 116, 248, 0.6);
    position: fixed;
    top: 0;
    width: 100vw; 
}
 
.aba1, .aba2 {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    user-select: none;
    gap: 10px;

}

.aba1:hover, .aba2:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffd700;
    cursor: pointer;
}



#texto {
    max-width: 900px;
    margin: 2rem auto 4rem auto;
    padding: 1.5rem 2rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
    color: #e0e0e0;
}


@media (max-width: 768px) {
    #titulo {
        font-size: 2rem;
        margin-left: 3vw;
    }

    #texto {
        margin: 1rem 2vw 3rem 2vw;
        font-size: 1rem;
        padding: 1rem 1.5rem;
    }

    header {
        gap: 2rem;
        height: 50px;
    }

    .aba1, .aba2 {
        font-size: 1.2rem;
        padding: 0.3rem 0.8rem;
    }
}

@media (max-width: 400px) {
    #titulo {
        font-size: 1.5rem;
    }

    #texto {
        font-size: 0.9rem;
        padding: 0.8rem 1rem;
    }
}
#titulo  {
    margin-top: 100px; 
    margin-left: -5vw;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.6);
    text-align: center;
    
}

#dados-estoque { 
    width: 10vw;
    height: 10vw;
    background-color: white;
    
}
    

